{% extends "orders/base.html" %}
{% load static %}

{% block title %}
Select Item Details
{% endblock %}

{% block body %}
<div class="container w-75 p-3" style="text-align:left">
    <table class="table table-sm" id="carttable">
        <tr>
            <th>Items</th><th>Price</th><th></th>
        </tr>
        <tr>
            <p id="total_price" style="text-align:center;font-weight:bolder;">Grand Total: ${{ total_price|floatformat:2 }}</p>
        </tr>
        <tr>
            <form action='{% url "placeorder" %}' method=post>
                {% csrf_token %}
                <button class="btn btn-success btn-block" type="submit" id="Place Order" 
                    {% if cart == 0 %}disabled{% endif %}>Place Order!</button>
            </form>
        </tr>
        {% for item in cart_items %}
        <tr>
            <td>
                <p>Item: {{ item.name }}</p>
                <p>Size: {{ item.size}} </p>
                {% if item.addons|length > 0 %}
                    <p>Add: {{ item.addons }}</p>
                {% endif %}
            </td>
            <td>
                <p>Price: ${{ item.price|floatformat:2 }}</p>
                <form action='{% url "deletecartitem" forloop.counter0 %}' method=post>
                    {% csrf_token %}
                    <p><button class="btn btn-danger" type="submit">&times;</button></p>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<script>
    
    document.addEventListener('DOMContentLoaded', () => {

        /* sets nav bar item to active */
        var p = localStorage.getItem('page')
        document.querySelector(p).classList.remove('active');
        document.querySelector('#cart').classList.add('active');
        localStorage.setItem('cart', '#order');
    });
</script>

{% endblock %}